{% extends 'base.html' %}
{% load post_tags %}
{% block title %}Draft: {{ post.title }}{% endblock %}
{% block content %}
<div class="col-md-6">
    <h1 class="page-title" style="color: red">Nieopublikowane posty </h1>
    <hr/>
    {% for post in posts %}
        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
        {{ post.content| markdown2 | safe |truncatewords_html:30 }}
    {% empty %}
        <p>Brak nieopublikowanych postow</p>
    {% endfor %}
    {% include "pagination.html" %}
</div>
{% endblock content %}