<ol class="list-unstyled">
    {% for post in latest_posts %}
        <li class="latest-post">
            <div>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                <p>{{ post.publish|timesince }} by: {{ post.author }}</p>
            </div>
        </li>
    {% endfor %}
</ol>