{% extends 'base.html' %}
{% load staticfiles %}
{% load post_tags %}
{% block title %}
    {% if tag %}
        Tag: {{ tag.name }}
    {% else %}
    List Posts
    {% endif %}
{% endblock %}
{% block content %}
<div class="col-md-6">
    {% if tag %}
        <h2 class="page-title">Posty oznaczone tagiem <span style="color: #4cae4c">"{{ tag.name }}"</span></h2>
        <hr/>
    {% endif %}
    {% for post in posts %}
        {% include 'post/short_post.html' %}
    {% endfor %}
    {% include "pagination.html" %}
</div>

{% endblock content %}